<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="LOG_DIR">${sys:log.dir:-logs}</property>
    </properties>

    <Appenders>
        <Console name="std.console" target="SYSTEM_OUT" follow="true">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{DEFAULT}] [%p] [%t] [%c{1.}]: %m%n" charset="UTF-8"/>
        </Console>
        <RollingFile name="std.debug.rollingfile" fileName="${LOG_DIR}/debug.log"
                     filePattern="${LOG_DIR}/%d{yyyy-MM}/debug-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{DEFAULT}] [%p] [%t] [%c{1.}]: %m%n" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="std.info.rollingfile" fileName="${LOG_DIR}/info.log"
                     filePattern="${LOG_DIR}/%d{yyyy-MM}/info-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{DEFAULT}] [%p] [%t] [%c{1.}]: %m%n" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="std.warn.rollingfile" fileName="${LOG_DIR}/warn.log"
                     filePattern="${LOG_DIR}/%d{yyyy-MM}/warn-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{DEFAULT}] [%p] [%t] [%c{1.}]: %m%n" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="std.error.rollingfile" fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/%d{yyyy-MM}/error-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{DEFAULT}] [%p] [%t] [%c{1.}]: %m%n" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>

        <Async name="sync:std.console">
            <AppenderRef ref="std.console"/>
        </Async>
        <Async name="sync:std.debug.rollingfile">
            <AppenderRef ref="std.debug.rollingfile"/>
        </Async>
        <Async name="sync:std.info.rollingfile">
            <AppenderRef ref="std.info.rollingfile"/>
        </Async>
        <Async name="sync:std.warn.rollingfile">
            <AppenderRef ref="std.warn.rollingfile"/>
        </Async>
        <Async name="sync:std.error.rollingfile">
            <AppenderRef ref="std.error.rollingfile"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="ALL">
            <appender-ref ref="sync:std.console"/>
            <appender-ref ref="sync:std.debug.rollingfile"/>
            <appender-ref ref="sync:std.info.rollingfile"/>
            <appender-ref ref="sync:std.warn.rollingfile"/>
            <appender-ref ref="sync:std.error.rollingfile"/>
        </Root>
    </Loggers>
</Configuration>